*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logiform{
    height: 90vh;
}

.passicon{
    height: 0;
    width:  0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.6rem ;
    right: 1.3rem;
}
.passicon:hover{
    cursor: pointer;
}